#clock{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0 px 0 px 1px #333;
    color:#fff;
}

.container-clock{
    background-color: rgb(12,119,206);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
}

#date{
    letter-spacing: 10px;
    font-size: 15px;
}